/* *{
    margin: 0;
    padding: 0;
    font-style: 16px;
    font-weight: normal;
} */

.body{
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1070px;
    margin: 0px auto;
}

.header {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.header__flex, .footer__flex, .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__li {
    display: inline-block;
}

.nav__li:not(:first-of-type) {
    margin-left: 49px;
}

.nav__link {
font-weight: 700;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.468947px;
text-decoration: none;
color: #696871;
}

.nav__link:hover {
    color: #19191B;
    transition: 300ms;
}

.button {
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.button__orange {
    background: #FF7143;
}

.about {
    margin: 104px auto 85px;
}

.button__orange:hover {
    background: #f67c53;
    transition: 500ms;
}

.about__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about__text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}

.button__violet {
    background: #5454D4;
}

.button__transparent {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 65px 0 60px;
}

.nav__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    text-decoration: none;
    color: #696871;
}

.nav__link:hover {
    color: #19191B;
    transition: 300ms;
}

.nav__li__footer {
    display: inline-block;
}

.nav__li__footer:not(:first-of-type) {
    margin-left: 34px;
}

